$font-family: "Roboto", sans-serif;
$bg-color: #f7f9f7;
$secondary-bg-color: #141b41;
$primary-color: #306bac;
$secondary-color: #6f9ceb;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $bg-color;
}
